<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<style type="text/css">
		
	</style>
</head>
<body>
<table id="app1">
	<tr is="my-row" :message="msg"></tr>
</table>
<div id="app">
	<p>{{ total }}</p>
	<button-counter v-on:increment="incrementTotal" v-on:click="selfMethod"></button-counter>
	<button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<div id="app2">
	<validate v-bind:my-Message="num"></validate>
</div>

<div id="app3">
	<bs-date-input data-3d-date-picker="true"
  class="date-picker-theme-dark"></bs-date-input>
</div>

<!-- 自定义事件 -->
<div id="app4">
	<p>{{total}}</p>
	<button-counter v-on:increment="incrementTotal" v-on:click.native='selfMethod'></button-counter>
	<button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<!-- 修饰符 -->
<div id="app5">
	<p>{{bar}}</p>
	<comp :foo.sync="bar"></comp>

	<!-- 
		被扩展为：
		<comp :foo="bar" @update:foo="val => bar = val"></comp>
	 -->
</div>
<!-- 使用自定义事件的表单输入组件 -->
<div id="app6">
<span>{{price}}</span>
	<currency-input v-model="price"></currency-input>
	<!-- 
		被扩展为：
		<currency-input 
			v-bind:value="price"
			v-on:input="price=arguments[0]">
		</currency-input>
	 -->
</div>
<!-- 定制组件的v-model -->
<div id="app7">
	<span>{{fool}}</span>
	<my-checkbox v-model="fool" v-bind:value="some"></my-checkbox>
	<!-- 
		被扩展为：
		<currency-input 
			v-bind:checked="fool"
			v-on:change="val => {fool = val}">
		</currency-input>
	 -->
</div>
<!-- 非父子组件通讯 -->
<div id='app8'>
    <foo></foo>
    <hr>
    <bar></bar>
</div>
<!-- 单个slot -->
<template id="tem1">
	<div>
		<h2>我是子组件的标题</h2>
		<slot>
		    只有在没有要分发的内容时才会显示。
		</slot>
	</div>
</template>
<div id="app9">
	<h1>我是父组件的标题</h1>
	<my-component>
	    <p>这是一些初始内容</p>
	    <p>这是更多的初始内容</p>
	</my-component>
</div>
<!-- 具名slot -->
<template id="tem2">
	<div class="container">
		<header>
			<slot name="header"></slot>
		</header>
		<main>
			<slot></slot>
		</main>
		<footer>
			<slot name="footer"></slot>
		</footer>
	</div>
</template>
<div id="app10">
	<app-layout>
		<h1 slot="header">这里是一个页面标题</h1>
		<p>主要内容的一个段落</p>
		<p>另一个段落</p>
		<p slot="footer">这里是一些联系信息</p>
	</app-layout>
</div>
<!-- 作用域插槽 -->
<template id="tem3">
	<div class="child">
	  <slot text="hello from child"></slot>
	</div>
</template>
<div id="parent">
	<div class="parent">
	  <child>
	    <template scope="props">
	      <span>hello from parent</span>
	      <span>{{ props.text }}</span>
	    </template>
	  </child>
	</div>
</div>
<!-- 动态组件 -->
<div id="app11">
	<input type="text" v-model="currentView">
	<component v-bind:is="currentView"></component>
</div>
<!-- 子组件索引 -->
<div id="app12">
	<user-profile ref="profile" v-for="item in 10"></user-profile>
</div>
<!-- 异步组件 -->
<div id="app13">
<input type="text" v-model="msg">
	<async-component :message="msg"></async-component>
</div>
<!-- 递归组件 -->
<div id="app14">
	<input type="text" v-model="numb">
	<my-component :num="numb"></my-component>
</div>
<!-- 内联模板 -->
<div id="app15">
	<my-component inline-template>
		<div>
			<p>These are compiled as the component's own template.</p>
			<p>Not parent's transclusion content.</p>
		</div>
	</my-component>
</div>
<div id="app16">
	<p>Using mustaches: {{ rawHtml }}</p>
	<p>Using v-html directive: <span v-html="rawHtml"></span></p>
</div>
<div id="watch-example">
	<p>
		Ask a yes/no question:
		<input v-model="question">
	</p>
	<p>{{ answer }}</p>
</div>
<div id="app17">
	<div v-if="items.length>0">
		<div v-for="item in items" v-if="item.isShow">
			{{item.name}}
		</div>
	</div>
	
	<button @click='f'>click</button>
</div>
<div id="app18">
	<input type="checkbox" v-model="pick" v-bind:true-value="a" v-bind:false-value='b'>
	<p>{{pick}}</p>
</div>
<div id="app19">
	<input type="" name="" v-model.number='val'>
	<p>{{val}}</p>
</div>
<div id="example">
  <my-component class="type" data-3d-date-picker="true"></my-component>
</div>
<script type="text/javascript">
	// 注册
Vue.component('my-component', {
  template: '<div>A custom component!</div>'
})

// 创建根实例
var com = new Vue({
  el: '#example'
})
console.log(com)
	new Vue({
		el:"#app19",
		data:{
			val:1
		}
	})
	new Vue({
		el:"#app18",
		data:{
			pick:"false",
			a:"weiyongzhi",
			b:'weiruoyu'
		}
	})
	new Vue({
		el:'#app17',
		data:{
			items:[{
				name:"tom",
				isShow:true
			},{
				name:"jack",
				isShow:true
			},{
				name:"jhon",
				isShow:true
			}]
		},
		methods:{
			f(event){
				console.log(event)
				this.items.splice(0,0,{name:"json"})
			}
		}
	})
	var watchExampleVM = new Vue({
		el: '#watch-example',
		data: {
			question: '',
			answer: 'I cannot give you an answer until you ask a question!'
		},
		watch: {
		    // 如果 `question` 发生改变，这个函数就会运行
		    question: function (newQuestion, oldQuestion) {
		    	this.answer = 'Waiting for you to stop typing...'
		    	console.log(newQuestion);
		    	console.log(oldQuestion)
		    	// this.getAnswer()
		    }
		},
		methods: {
		    // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
		    // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
		    // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
		    // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
		    // 请参考：https://lodash.com/docs#debounce
		//     getAnswer: _.debounce(
		//     	function () {
		//     		if (this.question.indexOf('?') === -1) {
		//     			this.answer = 'Questions usually contain a question mark. ;-)'
		//     			return
		//     		}
		//     		this.answer = 'Thinking...'
		//     		var vm = this
		//     		axios.get('https://yesno.wtf/api')
		//     		.then(function (response) {
		//     			vm.answer = _.capitalize(response.data.answer)
		//     		})
		//     		.catch(function (error) {
		//     			vm.answer = 'Error! Could not reach the API. ' + error
		//     		})
		//     	},
		//       // 这是我们为判定用户停止输入等待的毫秒数
		//       500
		//       )
		}
		})
new Vue({
	el:"#app16",
	data:{
		rawHtml:'<span style="color:blue">this should be red.</span>'
	}
})
//内联模板
Vue.component("my-component",{
})
new Vue({
	el:"#app15"
})
//递归组件
Vue.component("my-component",{
	props:["num"],
	name:"myComponent",
	template:'<div><p>{{num}}</p><my-component :num="num+1" v-if="currNum"></my-component></div>',
	computed:{
		currNum:function(){
			return this.num < 10;
		}
	}
})
var vmm = new Vue({
	el:"#app14",
	data:{
		numb:5,
		str:'aa'
	}
})
console.log(vmm.$set)
console.log(vmm)
console.log(Vue.config)
//异步组件
Vue.component("async-component",function(resolve,reject){
	setTimeout(function(){
		resolve({
			template:"<p>{{message}}</p>",
			props:["message"]
		})
	},5000)
})
new Vue({
	el:"#app13",
	data:{
		msg:"hello"
	}
})
//子组件索引
Vue.component("user-profile",{
	template:"<p>子组件索引</p>"
})
var parent = new Vue({
	el:"#app12"
})
var child = parent.$refs.profile
console.log(child)

//动态组件
new Vue({
	el:"#app11",
	data:{
		currentView:"home"
	},
	components:{
		home:{
			template:'<p>home</p>'
		},
		post:{
			template:'<p>post</p>'
		},
		archive:{
			template:'<p>archive</p>'
		}
	}
})
//作用域插槽
Vue.component("child",{
	template:"#tem3"
})
new Vue({
	el:"#parent"
})
//具名slot
Vue.component("app-layout",{
	template:"#tem2"
})
new Vue({
	el:"#app10"
})
//单个slot 
Vue.component("my-component",{
	template:"#tem1"
})
new Vue({
	el:"#app9"
})
//计算属性
Vue.component("my-row",{
	props:["message"],
	template:"<tr><td>{{message}}</td><td>性别</td></tr>",
	data:function(){
		return {
			msg:"Hello "+this.message
		}
	},
	computed:{
		normalizedSize:function(){
			return this.message.split('').reverse().join('-').toLowerCase();
		}
	}
})

new Vue({
	el:"#app1",
	data:{
		msg:"WORLD"
	}
})

	Vue.component("button-counter",{
		template:"<button v-on:click='incrementCounter'>{{counter}}</button>",
		data:function(){
			return{
				counter:0
			}
		},
		methods:{
			incrementCounter:function(){
				this.counter += 1;
				this.$emit('increment')
			}
		}
	})

	new Vue({
		el:"#app",
		data:{
			total:0
		},
		methods:{
			incrementTotal:function(){
				this.total += 1;
			},
			selfMethod:function(){
				alert("1")
			}
		}
	})

	Vue.component("validate",{
		props:{
			myMessage:{
				type:Number,
				required:true
			}
		},
		template:"<p>{{myMessage}}</p>"
	})

	new Vue({
		el:"#app2",
		data:{
			num:12
		}
	})

	Vue.component("bs-date-input",{
		props:['data-3d-date-picker'],
		template:'<input type="date" class="form-control">',
		data:function(){
			return {
				booleanV:this.picker
			}
		},
		computed:{
			testCon:function(){
				console.log(this);
				return this.picker;
			}
		}
	})

	new Vue({
		el:"#app3"
	})

	// Vue.component("button-counter",{
	// 	template:'<button v-on:click="incrementCounter">{{counter}}</button>',
	// 	data:function(){
	// 		return {
	// 			counter:0
	// 		}
	// 	},
	// 	methods:{
	// 		incrementCounter:function(){
	// 			this.counter += 1;
	// 			this.$emit('increment')
	// 		}
	// 	}
	// })

	new Vue({
		el:"#app4",
		data:{
			total:0
		},
		methods:{
			incrementTotal:function(){
				this.total += 1;
			},
			selfMethod:function(){
				alert('self event')
			}
		}

	})
	//修饰符
	Vue.component("comp",{
		props:["foo"],
		template:'<input @input="f" v-model="foo">',
		methods:{
			f:function(){
				this.$emit('update:foo',this.foo)
			}
		}
	})

	new Vue({
		el:"#app5",
		data:{
			bar:"hello world!"
		}
	})
	//使用自定义事件的表单输入组件
	Vue.component("currency-input",{
		template:'\
		<span ref="span">\
			$\
			<input\
				ref="input"\
				v-bind:value="value"\
				v-on:input="updateValue($event.target.value)"\
			>\
		</span>\
		',
		props:["value"],
		methods:{
			updateValue:function(val){
				console.log(this)
				var formattedValue = val.trim().slice(0,val.indexOf(".") === -1 ? val.length : val.indexOf(".")+3);

				if(formattedValue !== val){
					this.$refs.input.value = formattedValue;
				}
				this.$emit("input",Number(formattedValue));
			}
		}
	})
	new Vue({
		el:"#app6",
		data:{
			price:10
		}
	})
	//定制组件的v-model
	Vue.component("my-checkbox",{
		template:'\
		<span>\
			$\
			<input\
				type="checkbox"\
				ref="input"\
				v-bind:checked="checked"\
				v-bind:value="value"\
				v-on:change="updateValue($event.target.checked,$event.target.value)"\
			>\
		</span>\
		',
		model:{
			prop:"checked",
			event:"change"
		},
		props:{
			checked:Boolean,
			value:String
		},
		methods:{
			updateValue:function(checked,value){
				console.log(value)
				this.$emit("change",checked)
			}
		}
	})
	new Vue({
		el:"#app7",
		data:{
			fool:true,
			some:"weiyongzhi"
		}
	})

	//非父子组件通讯

	// 注册一个空的 Vue 实例，作为 ‘中转站’
	var eventBus = new Vue({})
	// foo 组件
	var foo = {
	    template: '<div><p>the count of foo is {{fooCount}}</p>' +
	                '<button @click="addBar">add bar\'s count</button></div>',
	    data: function() {
	        return {
	            fooCount: 0            
	        }
	    },
	    methods: {
	        addBar: function() {
	            // 触发事件
	            eventBus.$emit('addBar')    
	        }
	    },
	    mounted: function() {
	        eventBus.$on('addFoo', function(num) {
	            this.fooCount +=num
	        }.bind(this)) 
	        // 这里必须将 this 绑定在组件实例上。如果不使用 bind , 也可以使用箭头函数。
	    }
	}
	// bar 组件
	var bar = {
	    template: '<div><p>the count of bar is {{barCount}}</p>' +
	                '<button @click="addFoo">add foo\'s count</button></div>',
	    data: function() {
	        return {
	            barCount: 0
	        }
	    },
	    methods: {
	        addFoo: function() {
	            // 触发事件，同时传递一个参数
	            eventBus.$emit('addFoo', 2)
	        }
	    },
	    // 在 组件创建的钩子函数中 监听事件
	    mounted: function() {
	        eventBus.$on('addBar', function() {
	        	alert('bar')
	            this.barCount++
	        }.bind(this))
	    }
	}
	var vm = new Vue({
	    el: '#app8',
	    components: {
	        foo,
	        bar
	    }
	})

	// var vm = new Vue({
	// 	el:'#app8',
	// 	data:{
	// 		foo:2,
	// 		bar:3
	// 	}
	// })
	console.log(vm);
</script>
</body>
</html>