html {
    overflow-y: scroll;
    font-family: '微软雅黑';
    height: 100%;
}
body {
    width: 100vw;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.66666;
    margin: 0 auto;
    padding: 0;
    background: #e8ecef;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
.main{height: 100%}
:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    /*position: absolute;*/
    height: 100%;
}



button.f12{
    font-size: 12px;
}

/* 清除浮动*/
.clearfix:after {
    display: table;
    content: '';
    clear: both;
}
.contents{
    margin:10px 0;
    padding: 20px;
    overflow-y: auto;
    background: #fff;
    height: calc(100% - 60px)
}
.content-table{
    position: relative;
    margin-top: 10px;
}
.content-table .el-table {
    font-size: 12px;
}
.content-table-head{
    position: absolute;
    right: 0px;
    top: -35px;
    height: 20px;
}
.content-table-head span{
    margin-left: 20px;
    color: #4d91e4;
    cursor: pointer;
}
.align-left{text-align: left}
.align-right{text-align: right}

.l-h36{line-height: 36px}
.l-h40{line-height: 40px}

.bold{font-weight: bold}

.w120{width: 120px}

.d-iblock{display: inline-block}

.f12{font-size: 12px}

.red{color: #f00}
.green{color: #008000}
.yellow{color: #FF0}
.blue{color: #00F}
.purple{color: #800080}
.orange {color: orange;}
.g99{color: #999}

.ml20{margin: 0 0 0 20px;}

.floatL {float: left;}
.floatR {float: right;}

/****公共UI样式重置****/
.el-table {color: #999}
.el-table__header thead tr{background-color: #fafafa; color:#666; }
.el-table__header thead tr th{font-weight: normal; background-color: #fafafa; color:#666;}

.el-table--mini td, .el-table--mini th{padding: 3px 0}
.el-table--mini .cell{line-height: 32px;}

.el-table::before{display: none}

.el-table__empty-text{font-size: 0}
.el-table__empty-text:before{
    content: "没有相关信息";
    font-size: 12px
}

.el-tabs__item{height: 36px; line-height: 36px; font-size: 12px}



/* .el-tree__empty-block{min-height: 300px} */
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{border-color: #dcdfe6}
.el-dialog__body{padding: 10px 20px;}

.el-step.is-simple .el-step__icon{width: 12px; height: 12px;}
.el-step.is-simple .el-step__title{font-size:12px;}

.ql-container {height: 300px}


.steps{margin:20px 0;}
.formInput{width: 300px; margin-right: 5px;}
.formInput.el-date-editor.el-input, .el-date-editor.el-input__inner{width: 300px; margin-right: 5px;}
.formInput-short{width: 180px; margin-right: 5px;}
.formPrompt{padding-left:0px; font-size: 12px; color: #999}

.smallInput{width:140px;}
.xsmallInput{width:100px;}
.xsmallInput .el-input__inner{padding: 0 8px}
.miniInput{width:60px;}
.miniInput .el-input__inner{padding: 0 5px}
.customLabel{width: 200px;}
.promptspan{color: #999}
.promotion_button{padding-left: 140px;}
.topOp{overflow: hidden; margin-bottom: 10px}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
font-size: 12px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
font-size: 12px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
font-size: 12px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
font-size: 12px;
}



